{% load static %}
<!DOCTYPE html>
<html>
<head>
	

<link rel="stylesheet" type="text/css" href="{% static 'css/plap.css' %}">


</head>
<body>



<div class="container" style="position: relative; top: 50%;">
  <input type="checkbox" class="toggle" id="toggle" checked="checked" /><label class="toggle" for="toggle"> visedem</label>
  <br/>
  {% if username %}
    <p style="color:white;">Hello, {{username}}</p>
  {% endif %}
  <div class="menu">
    <div class="top">
      <span class="search">
        <input type="text">
      </span>
      <a class="exit" href="#" tabindex="0"></a>
    </div>

    <ul class="middle">
      <a href="/calandar" style="text-decoration: none; color:white;">
        <li tabindex="0"><i class="fa fa-calendar"></i>Calendar</li>
      </a>
      <a href="/stop" style="text-decoration: none; color:white;">
        <li tabindex="0"><i class="fa fa-camera"></i>Stop Watch</li>
      </a>
      <a href="/today" style="text-decoration: none; color:white;">
        <li tabindex="0"><i class="fa fa-check-square-o"></i>Today</li>
      </a>
      <a href="/login" style="text-decoration: none; color:white;">
        <li tabindex="0"><i class="fa fa-map-marker"></i>Login</li>
      </a>
      <a href="/logout" style="text-decoration: none; color:white;">
        <li tabindex="0"><i class="fa fa-dribbble"></i>Logout</li>
      </a>
      <li tabindex="0"><i class="fa fa-cogs"></i>About PLAB</li>
    </ul>
    <div class="bottom"></div>
    <div class="menu-back"></div>
    <div class="glass-reflection"></div>
  </div>
</div>



<script>
	
</script>


</body>
</html>